/* LAYOUT */

/* --------------------------
Global whitespace reset
--------------------------*/
* {
	margin:0;
	padding:0;
}

div.clear{
	clear: both;
	height: 1px;
}

div.clear1{
	clear: both;
	margin-top: 20px;
	height: 1px;
}

hr{
	border: 0;
	height: 1px;
	margin-bottom: 10px;
}

.guestbookBreak {
	margin: 10px 0px 0px 0px;
}

#taxi hr{
	border: 0;
	height: 1px;
	margin-bottom: 0px;
}

/*----------------------------------
Vertical background image
----------------------------------*/
body {
	background:  url(/img/bkgd_v.jpg) repeat-y center top;
}



/*----------------------------------
Container retainer
----------------------------------*/
#retainer {
	overflow: hidden;
}



/*----------------------------------
Horizontal background image
----------------------------------*/
#container {
	background:  url(/img/bkgd_h.jpg) no-repeat center top;
	margin-bottom: -300px;
	padding-bottom: 300px;
}


/*----------------------------------
Wrapper 
----------------------------------*/
#wrapper {
	width: 760px;	
	text-align: center;
	margin:0 auto; /* to centre in Firefox*/ 
}


/*----------------------------------
2 columns
----------------------------------*/

#left-column {
	float: left;
	width: 150px;
}

#middle-column {
	text-align: left;
	float: left;
	width: 460px;
}

.signature{
	margin-left: 100px;
	margin-top: -20px;
}



/*----------------------------------
Breadcrumb
----------------------------------*/
#breadcrumb {
	padding: 0px 10px 2px 10px;
}

/*----------------------------------
See Also
----------------------------------*/


/*----------------------------------
Content
----------------------------------*/
#content {
	padding: 0px 10px;
}

img{
	border: none;
}

#content img{
	border: none;
}

.thumbnail{
  display: inline-block;
	padding: 3px;
	text-align: center;
}



/*----------------------------------
Hidden section
----------------------------------*/
#update {
	padding-left: 10px;
}

#update ul {
	list-style: none;
	margin-left: 10px;
}

#update p {
	margin-left: 10px;
}



/*----------------------------------
Hidden Section tab (rest of site)
----------------------------------*/

#update-control {
	background: url(/img/update.gif) no-repeat;
	text-align: left;
	padding: 2px 20px 0px 365px;
	height: 58px;
	border: none;

}



/*----------------------------------
Update control
----------------------------------*/
#updates{
	width: 200px;
	height: 50px;
	margin-bottom: 30px;
}

#login {
	width: 420px;
	margin: 10px 0px 10px 0px;
	padding: 10px;
}

#login p{
	margin-left: 0px;

}

/*----------------------------------
Quote controls
----------------------------------*/

#quote {
	clear:both;
	padding: 10px 90px;
	background: url(/img/quote.gif) no-repeat;
	text-align: center;	
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;	
	margin-bottom:10px;
}


/*----------------------------------
Footer
----------------------------------*/
#footer {
	clear: both;
	background: url(/img/footer.gif) no-repeat;
	padding: 20px 10px 10px 10px;
	text-align: center;
}

/*----------------------------------
Container
----------------------------------*/

#content h2{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-top: 5px;
}

#content ul{
	list-type: none;
	margin: 0px 0px 0px 30px;
}

/* --------------------------
See Also
--------------------------*/
#see-also {
	margin: 0px 1px 15px 1px;
	padding: 3px 0px 3px 0px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
}

#see-also p{
	margin-bottom: 0px;
	margin-top:0px;
	margin-left: 10px;
}

#see-also span{
	margin-right: 5px;
}


/* --------------------------
Main Image
--------------------------*/

#centerimage{
	z-index: 3;
	height: 235px;
	background:  url(/img/imagebottom.gif) no-repeat center bottom;
}


/* --------------------------
Lightbox (make image appear above page)
--------------------------*/


#lightbox{
	background-color:#fff;
	padding: 10px;
	border:none;
	z-index: 1;
	}


#overlay{
	background: url(/img/overlay.gif);
}



/* --------------------------
Hub boxes
--------------------------*/
.hub {
padding-bottom:20px;
}


.hub-left{
	text-align: left;
	float: left;
	width: 205px;
	margin: 0px 0px 10px 0px;
	padding-right: 10px;
	background:  url(/img/hub-block.gif) no-repeat top left;
}

.hub-right{
	float: left;
	width: 205px;
	margin: 0px 0px 10px 10px;
	padding-right: 10px;
	background:  url(/img/hub-block.gif) no-repeat top left;
}

.hub-left img{
	float: left;
	padding: 0px;
	margin: 0px;
}

.hub-right img{
	float: left;
	padding: 0px;
	margin: 0px;
}

.hub-left h4{
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;	
	text-indent: 10px;
}

.hub-right h4{
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	text-indent: 10px;
}

.honeymoon {
	text-align: left;
	float: left;
	width: 440px;
	margin: 0px 0px 10px 0px;
	background-color: #A26701;
	color: #fff;
	min-height: 100px;
}

.honeymoon-palm {
	background:  url(/img/honeymoon-block-palm.gif) no-repeat top left;
}

.honeymoon-plane {
	background:  url(/img/honeymoon-block-plane.gif) no-repeat top left;
}

.honeymoon-hotel {
	background:  url(/img/honeymoon-block-hotel.gif) no-repeat top left;
}

.honeymoon-house {
	background:  url(/img/honeymoon-block-house.gif) no-repeat top left;
	background-color: #A26701;
}

.honeymoon img {
	float: left;
	padding: 0px;
	margin: 0px;
}

.honeymoon h4 {
	padding-bottom: 5px;
	border-bottom-style: solid;
	border-bottom-width: 1px;	
	padding-top: 10px;
	padding-left: 10px;
	text-indent: 10px;
	width: 220px;
	color: #fff;
	font-weight: bold;
}

/* --------------------------
Content subheadings
--------------------------*/

h3{
padding-top: 20px;
margin-bottom: -10px;
}

/* --------------------------
Guestbook
--------------------------*/
#pagination {
float:right;
}

/* --------------------------
Homepage image
--------------------------*/

.homeImage {
float:right;
}

.important {
margin-left: 20px;
}

.slide-up, .slide-down {
  overflow:hidden;
}

.slide-up > div, .slide-down > div {
  height: 0;
  transform: translateY(-100%);
  transition: 1s ease-in-out;
}

.slide-down > div {
  height: 240px;
  transform: translateY(0);
}
