<div id="nav">
  <ul>
    <li{% if page.url == '/' %} class="highlight"{% endif %}><a href="/">Welcome</a></li>
    <li{% if page.url == '/brideandgroom/' %} class="highlight"{% endif %}><a href="/brideandgroom/">Bride &amp; Groom</a></li>
    <li{% if page.url == '/engagement/' %} class="highlight"{% endif %}><a href="/engagement/">Engagement</a></li>
    <li{% if page.url == '/venue/' %} class="highlight"{% endif %}><a href="/venue/">The Venue</a></li>
    <li{% if page.url == '/arriving/' %} class="highlight"{% endif %}><a href="/arriving/">Arriving</a></li>
    <li{% if page.url == '/registry/' %} class="highlight"{% endif %}><a href="/registry/">Registry</a></li>
    <li{% if page.url == '/contact/' %} class="highlight"{% endif %}><a href="/contact/">Contact &amp; RSVP</a></li>
    <li{% if page.url == '/photography/' %} class="highlight"{% endif %}><a href="/photography/">Photography</a></li>
    <li{% if page.url == '/honeymoon/' %} class="highlight"{% endif %}><a href="/honeymoon/">Honeymoon</a></li>
  </ul>
</div>
