<div>
  <h3>Recent Updates</h3>
  <ul>
    <li>June 24th 2007 <a target="_blank" href="#">No Updates!</a></li>
    <li>August 13th 2007 <a href="#">Albert has picked out his tux!</a></li>
    <li>August 16th 2007 <a href="/honeymoon/">We have booked our honeymoon to Sandals Jamaica!</a></li>
    <li>August 18th 2007 <a href="/photography-engagement/">Added Engagement Photos!</a></li>
    <li>May 30th 2013 <a href="#">Our sweet baby Rebecca has made us parents!</a></li>
    <li>November 11th 2014 <a href="https://maps.app.goo.gl/64RU7Nzy2nbx8sHRA">Pregnant again... time to buy a new home in Maitland.</a></li>
    <li>April 30th 2015 <a href="#">Quickly on my way to be a girl dad. Today we welcomed our sweet Merry Beth!</a></li>
    <li>December 5th 2017 <a href="#">There's that boy! Welcome baby AJ!</a></li>
    <li>May 18th 2021 <a href="https://boutiqueforaweek.com/">What the heck, let's buy a business.</a></li>
    <li>March 3rd 2024 <a target="_blank" href="https://maps.app.goo.gl/H9YnxLKG6NFXhnQ68">Welcome to the old west... today we moved to our farm!</a></li>
  </ul>
</div>
