<div>
  <h3>Recent Updates</h3>
  <ul>
    <li>June 24th 2007 <a href="#">No Updates!</a></li>
    <li>August 13th 2007 <a href="#">Albert has picked out his tux!</a></li>
    <li>August 16th 2007 <a href="/honeymoon/">We have booked our honeymoon to Sandals Jamaica!</a></li>
    <li>August 18th 2007 <a href="/photography-engagement/">Added Engagement Photos!</a></li>
    <li>August 20th 2007 <a href="/rsvp/">Added RSVP Form!</a></li>
  </ul>
</div>
