---
permalink: /arriving/
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<title>Arriving at Albert Volkman and Kendall Duprees wedding</title>

<link href="/css/main.css" rel="stylesheet" type="text/css" media="screen"/>
<link href="/css/print.css" rel="stylesheet" type="text/css" media="print"/>
<link href="_inc/rss.xml" rel="alternate" type="application/rss+xml" />

<script type="text/javascript" src="_inc/slider.js"></script>
<script type="text/javascript" src="_inc/countdown.js"></script>
<script type="text/javascript" src="_inc/prototype.lite.js"></script>
<script type="text/javascript" src="_inc/moo.fx.js"></script>

<script src="http://maps.google.com/maps?file=api&amp;v=2.x&amp;key=ABQIAAAAo3WovsOMwM0xd_3cVse3xBSPmSYmkbP7yMgZfWn_6-CnCZgEKxS-twyB1ZxBNQzDbrnbC1gsNo2szg"
            type="text/javascript"></script>

</head>

<body onunload="GUnload()">

<div id="retainer">

    <div id="container">

        <div id="wrapper">

            <div id="left-column">

                <div id="nav">
                
                <ul>
                    <li><a href="/">Welcome</a></li>
                    <li><a href="/brideandgroom/">Bride &amp; Groom</a></li>
                    <li><a href="/engagement/">Engagement</a></li>
                    <li><a href="/venue/">The Venue</a></li>
                    <li class="highlight"><a href="/arriving/">Arriving</a></li>
                    <li><a href="/registry/">Registry</a></li>
                    <li><a href="/contact/">Contact &amp; RSVP</a></li>
                    <li><a href="/photography/">Photography</a></li>
                    <li><a href="/honeymoon/">Honeymoon</a></li>
                </ul>
	
				</div>

			</div>

			<div id="middle-column">

                <div id="update">
			    <h3>Recent Updates</h3>
				<?php include("_inc/updates.php"); ?>

                </div>

                <div id="update-control">
                <a href="javascript:void(0);"  onclick="ul.toggle();" name="top" >Updates</a>

				</div>

                <div id="centerimage">	

                    <div id="map" style="width: 460px; height: 230px;">
                
                    
                </div>

            </div>
            <div id="breadcrumb">
            <p><a href="index-2.html">Home</a> &#8250; Arriving</p>

            </div>
	
            <div id="content">
            <h1>Arriving</h1>
            <h2>To College Park Presbyterian Church</h2>
            <p class="hub"><strong>From Altamonte Springs (I-4 West-bound)</strong><br />
            Take Fairbanks exit #87 and turn left<br />
            Turn right at Formosa<br />
            Church will be on the left<br />
            at the intersection of Formosa and Par</p>
            <p class="hub"><strong>From Downtown (I-4 East bound)</strong><br />
            Take Par exit #86 and turn left<br />
            Church will be on the left<br />
            at the intersection of Formosa and Par</p>
            <h2>To The Tap Room at Dubsdread</h2>
            <p class="hub">From College Park Presbyterian Church<br />
            Turn left onto Par<br />
            Reception site will be about 1 mile on the right</p>
 
            </div>
	
            <div id="quote">
            <h4>&nbsp;</h4>

            </div>
	
			<div id="footer">	
			<a href="#top">Top of the page </a> | <a href="/sitemap.xml">Sitemap</a> | <a href="_inc/rss.xml">RSS</a> |  
            <a href="/day/">Only 
            <script type="text/javascript">document.write(daysLeft);</script> days to go!</a>
            <p>Copyright &copy; 2007 Albert Volkman &amp; Kendall Dupree.</p>
            </div>
	
        </div>

	</div>

</div>

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-319559-5";
urchinTracker();
</script>

</body>

    <script type="text/javascript">
    //<![CDATA[

    if (GBrowserIsCompatible()) {
		var map = new GMap2(document.getElementById("map"));
		map.setCenter(new GLatLng(28.583221596430377, -81.38287782669067), 15);
		
		var icon = new GIcon();
		icon.image = "http://www.google.com/intl/en_us/mapfiles/kml/shapes/church_maps.png";
		icon.iconAnchor = new GPoint(6, 20);
		icon.infoWindowAnchor = new GPoint(5, 1);
		
		var point = new GLatLng(28.581991, -81.377009);
		map.addOverlay(new GMarker(point, icon));
		
		var icon = new GIcon();
		icon.image = "/img/reception.png";
		icon.iconAnchor = new GPoint(6, 20);
		icon.infoWindowAnchor = new GPoint(5, 1);
		
		var point = new GLatLng(28.582784, -81.387281);
		map.addOverlay(new GMarker(point, icon));
//]]>
}
    else {
      alert("Sorry, the Google Maps API is not compatible with this browser");
    }
    </script>
</html>
