---
permalink: /contactlist/
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<title>Contact and RSVP Albert Volkman and Kendall Dupree</title>

<link href="/css/main.css" rel="stylesheet" type="text/css" media="screen" />
<link href="/css/print.css" rel="stylesheet" type="text/css" media="print" />
<link href="_inc/rss.xml" rel="alternate" type="application/rss+xml" />

<script type="text/javascript" src="_inc/slider.js"></script>
<script type="text/javascript" src="_inc/lightbox.js"></script>
<script type="text/javascript" src="_inc/countdown.js"></script>
<script type="text/javascript" src="_inc/prototype.lite.js"></script>
<script type="text/javascript" src="_inc/moo.fx.js"></script>
<script type="text/javascript" src="_inc/password.js"></script>

</head>

<body>

<div id="retainer">

	<div id="container">

		<div id="wrapper">

			<div id="left-column">

				<div id="nav">
                <ul>
                    <li><a href="/">Welcome</a></li>
                    <li><a href="/brideandgroom/">Bride &amp; Groom</a></li>
                    <li><a href="/engagement/">Engagement</a></li>
                    <li><a href="/venue/">The Venue</a></li>
                    <li><a href="/arriving/">Arriving</a></li>
                    <li><a href="/registry/">Registry</a></li>
                    <li class="highlight"><a href="/contact/">Contact &amp; RSVP</a></li>
                    <li><a href="/photography/">Photography</a></li>
                    <li><a href="/honeymoon/">Honeymoon</a></li>
                </ul>
            
                </div>

			</div>

            <div id="middle-column">
            
                <div id="update">
                <h3>Recent Updates</h3>
                <?php include("_inc/updates.php"); ?>
    
                </div>

                <div id="update-control">
                <a href="javascript:void(0);"  onclick="ul.toggle();" name="top" >Updates</a>
                        
                </div>

                <div id="centerimage">	
                <img src="/img/savethedate.jpg" alt="" width="460" height="230" title=""/>
                
                </div>

                <div id="breadcrumb">
                <p><a href="/">Home</a> &#8250; <a href="/contact/">Contact &amp; RSVP</a> &#8250; Wedding Party Contact List</p>
            
                </div>
	
                <div id="see-also">
                <p><span>See Also:</span> <a href="g//">Guest book</a></p>
                
                </div>
	
                <div id="content">
                
                <h1>Wedding Party Contact List</h1>
                <h2>Say hello to the wedding party.</h2>
                
                <p class="hub">We want to thank you for taking the time to visit our website and hope you continue to use it as a source of information and point of contact during the lead up to our wedding.</p>
	
					<div class="thumbnail">
                    <img src="#" alt="Albert Volkman" width="140" height="140" />
					<p><a href="#">Contact Albert.</a></p>
                    
                    </div>

					<div class="thumbnail"><img src="#" alt="Kendall Dupree" width="140" height="140" />
					<p><a href="#">Contact Kendall.</a></p>
                    
                    </div>

				<h4>Bride &amp; Groom</h4>

					<div class="clear"></div>

					<div class="thumbnail">
                    <img src="#" alt="Matt Poole" width="140" height="140" />
					<p><a href="#">Contact Matt.</a></p>
                    
                    </div>

					<div class="thumbnail"><img src="#" alt="Merry Dupree" width="140" height="140" />
					<p><a href="#">Contact Merry.</a></p>
                    
                    </div>

				<h4>Maid of Honor &amp; Bestman</h4>

					<div class="clear"></div>

					<div class="thumbnail">
                    <img src="#" alt="Don Love" width="140" height="140" />
					<p><a href="#">Contact Don.</a></p>
                    
                    </div>

					<div class="thumbnail"><img src="#" alt="Jenny Ustler" width="140" height="140" />
					<p><a href="#">Contact Jenny.</a></p>
                    
                    </div>

				<h4>Bridesmaids &amp; Groomsmen</h4>

					<div class="clear"></div>

					<div class="thumbnail">
                    <img src="#" alt="Justin Clark" width="140" height="140" />
					<p><a href="#">Contact Justin.</a></p>
                    
                    </div>

					<div class="thumbnail"><img src="#" alt="Melissa Faux" width="140" height="140" />
					<p><a href="#">Contact Melissa.</a></p>
                    
                    </div>

					<div class="clear"></div>

					<div class="thumbnail">
                    <img src="#" alt="Dale Dupree" width="140" height="140" />
					<p><a href="#">Contact Dale.</a></p>
                    
                    </div>

					<div class="thumbnail"><img src="#" alt="Channa Dupree" width="140" height="140" />
					<p><a href="#">Contact Channa.</a></p>
                    
                    </div>

					<div class="clear"></div>

					<div class="thumbnail">
                    <img src="#" alt="Owen Dupree" width="140" height="140" />
					<p><a href="#">Contact Owen.</a></p>
                    
                    </div>

					<div class="thumbnail"><img src="#" alt="Courtney Volkman" width="140" height="140" />
					<p><a href="#">Contact Courtney.</a></p>
                    
                    </div>

					<div class="clear"></div>

                </div>
	
				<div id="footer">	
                <a href="#top">Top of the page </a> | <a href="/sitemap.xml">Sitemap</a> | <a href="_inc/rss.xml">RSS</a> |  
                <a href="/day/">Only 
                <script type="text/javascript">document.write(daysLeft);</script> days to go!</a>
                <p>Copyright &copy; 2007 Albert Volkman &amp; Kendall Dupree.</p>

                </div>
	
			</div>

		</div>

	</div>

</div>

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-319559-5";
urchinTracker();
</script>

</body>

</html>
