---
title: Engagement Photographs
image: "/img/photography.jpg"
permalink: /photography-engagement/
---

<h1>Photography</h1>
<h2>Our Engagement</h2>
<p>
        <?php 
        
        $i=0;
        chdir( 'img/engagement/' );
        $rep=opendir('.');
        while (false != ($file = readdir($rep))){
          if ($file!="." && $file!=".." && !is_dir($file)){
            $templates[$i] = $file;
            echo "<a href=\"/img/engagement/$file\" rel=\"lightbox[engagement]\" class=\"lightboximage\"><img src=\"/img/engagement/_thumb/$file\" alt=\"Albert &amp; Kendall\"></a>";
            $i++;
          }
        }
        chdir( '../..' );
        
        ?>
</p>
