---
title: Photography
image: "/img/photography.jpg"
permalink: /photography/
---
                
<h2>All about the pictures</h2>
<p>We want to share some of the events linked with the wedding that are happening in the lead up to the day with those who are interested in the build up. We also wanted to tell you about our wedding photographer and why we chose them and let you visit his site and see some of his previous work.</p>
<div class="hub-left">
  <img src="/img/rob-breter-small.webp" alt="Rob Breter" width="70" height="100" />
  <h4><a href="/rob-breter/">Our Photographer</a></h4>
  <p>About our wedding photographer.</p>
</div>
