---
title: RSVP
image: "/img/rsvp.jpg"
permalink: /rsvp/
---

<h1>RSVP</h1>
<h2>Reply online to your invitation</h2>
<form action="insert.php" method="post" name="rsvp">
  <table>
    <tr>
      <td>Your Name:</td>
      <td><input name="name" type="text" size="25" maxlength="90" value="" ></td>
    </tr>
    <tr>
      <td>Your E-mail:</td>
      <td><input name="email" type="text" size="25" maxlength="90" value="" ></td>
    </tr>
    <tr>
      <td>Will you be attending?</td>
      <td>
        <input name="status" type="radio" value="Yes" checked="checked">Yes
        <input name="status" type="radio" value="No">No
      </td>
    </tr>
    <tr>
      <td>Number of guests:</td>
      <td>
        <select name="guests">
          <option value="-1">Select number of guests</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
      </td>
    </tr>
    <tr>
      <td>Guest's Names:</td>
      <td><input name="guest1" type="text" size="25" maxlength="90" value="" ></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input name="guest2" type="text" size="25" maxlength="90" value="" ></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input name="guest3" type="text" size="25" maxlength="90" value="" ></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
        <input name="guest4" type="text" size="25" maxlength="90" value="" >
      </td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input name="process_rsvp" type="submit" value="Submit RSVP" ></td>
    </tr>
  </table>
</form>
