---
permalink: /venue/
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<title>About College Park Presbyterian Church, Orlando, Florida, October 14th 2007</title>

<link href="/css/main.css" rel="stylesheet" type="text/css" />
<link href="/css/print.css" rel="stylesheet" type="text/css" media="print"/>
<link href="_inc/rss.xml" rel="alternate" type="application/rss+xml" />

<script type="text/javascript" src="_inc/flashObject.js"></script>
<script type="text/javascript" src="_inc/slider.js"></script>
<script type="text/javascript" src="_inc/lightbox.js"></script>
<script type="text/javascript" src="_inc/countdown.js"></script>
<script type="text/javascript" src="_inc/prototype.lite.js"></script>
<script type="text/javascript" src="_inc/moo.fx.js"></script>

</head>

<body>

<div id="retainer">

	<div id="container">

		<div id="wrapper">

			<div id="left-column">

				<div id="nav">
	
                <ul>
                    <li><a href="/">Welcome</a></li>
                    <li><a href="/brideandgroom/">Bride &amp; Groom</a></li>
                    <li><a href="/engagement/">Engagement</a></li>
                    <li class="highlight"><a href="/venue/">The Venue</a></li>
                    <li><a href="/arriving/">Arriving</a></li>
                    <li><a href="/registry/">Registry</a></li>
                    <li><a href="/contact/">Contact &amp; RSVP</a></li>
                    <li><a href="/photography/">Photography</a></li>
                    <li><a href="/honeymoon/">Honeymoon</a></li>
                </ul>
	
				</div>

			</div>

			<div id="middle-column">

				<div id="update">
                <h3>Recent Updates</h3>
                <?php include("_inc/updates.php"); ?>

                </div>

				<div id="update-control">
                <a href="javascript:void(0);"  onclick="ul.toggle();" name="top" >Updates</a>
                        
                </div>

				<div id="centerimage">	
                <img src="/img/venue.jpg" alt="" title=""/>

                </div>
   
                <div id="breadcrumb">
                <p><a href="/">Home</a> &#8250; Venue</p>
                
                </div>
	
                <div id="content">
                <h1>The Venue</h1>
                <h2>Details about the location for the wedding</h2>
                <p>&nbsp;</p>
             
                </div>
	
                <div id="quote">
                <h4>&nbsp;</h4>

                </div>
	
				<div class="clear"></div>
	
                <div id="footer">	
                <a href="#top">Top of the page </a> | <a href="/sitemap.xml">Sitemap</a> | <a href="_inc/rss.xml">RSS</a> |  
                <a href="/day/">Only 
                <script type="text/javascript">document.write(daysLeft);</script> days to go!</a>
                <p>Copyright &copy; 2007 Albert Volkman &amp; Kendall Dupree.</p>
                </div>
	
			</div>

		</div>

	</div>

</div>

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-319559-5";
urchinTracker();
</script>

<script src="http://www.google-analytics.com/urchin.js" type="text/javascript">
</script>
<script type="text/javascript">
_uacct = "UA-319559-5";
urchinTracker();
</script>

</body>

</html>
